# **Day - 46 : Financial Data Analysis**

*1.*

*Import the Text_data dataset. Write a code that checks if there are duplicates in the "text" column.*

In [1]:
import pandas as pd

df = pd.read_csv("Data/Text_data.csv")
df.head()

                                                text
0                        The AI revolution is, here.
1    seaborn and matploblib are visualization tools.
2       Pandas is a powerful% data analysis library.
3  Data analysis is a crucial part of machine lea...
4  Python is a popular programming language for d...

In [2]:
df.duplicated(subset=['text']).any()

False

*2.*

*Create a copy of the DataFrame and convert the text in the "text" column to lowercase letters.*

In [3]:
df_copy = df.copy()

df_copy['text'] = df_copy['text'].str.lower()
df_copy.head()

                                                text
0                        the ai revolution is, here.
1    seaborn and matploblib are visualization tools.
2       pandas is a powerful% data analysis library.
3  data analysis is a crucial part of machine lea...
4  python is a popular programming language for d...

*3.*

*Any character that is not a number or in the alphabet is considered to be a special character. Remove special characters in the text column.*

In [4]:
import string

df_copy['text'] = df_copy['text'].str.translate(str.maketrans('', '', string.punctuation))
df_copy.head()

                                                text
0                          the ai revolution is here
1     seaborn and matploblib are visualization tools
2         pandas is a powerful data analysis library
3  data analysis is a crucial part of machine lea...
4  python is a popular programming language for d...

*4.*

*Write a code that adds a column of the length of each row in the text column. Return the row with longest text.*

In [5]:
df_copy["text length"] = df_copy["text"].str.len()
df_copy.head()

                                                text  text length
0                          the ai revolution is here           25
1     seaborn and matploblib are visualization tools           46
2         pandas is a powerful data analysis library           42
3  data analysis is a crucial part of machine lea...           51
4  python is a popular programming language for d...           57

In [6]:
df_copy.sort_values(by = ["text length"], ascending=False).iloc[:1]

                                                text  text length
8  big data is becoming increasingly important in...           59

*5.*

*Stopwords are common words that are typically removed from text data before performing natural language processing tasks, such as text classification, sentiment analysis, or information retrieval. Examples of stopwords include "the", "and", "a", "an", "in", "of", "to", etc. Write a code to remove stop words in the text using nltk module*

In [8]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))


df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() 
                                                  if word not in stop_words]))
df.head()

                                                text
0                        The AI revolution is, here.
1            seaborn matploblib visualization tools.
2            Pandas powerful% data analysis library.
3       Data analysis crucial part machine learning.
4  Python popular programming language data science.

*6.*

*For text data to be used in machine learning, it must be transformed into numeric vectors. Using scikit-learn, tokenize the text into numeric vectors.*

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

word_count_matrix = cv.fit_transform(df.text)

word_count_df = pd.DataFrame(word_count_matrix.toarray(), columns=cv.get_feature_names_out())
word_count_df.head()

,ai,analysis,becoming,big,changing,crucial,data,here,important,increasingly,...,science,seaborn,statistics,subfield,the,today,tools,transforming,visualization,world
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
2,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0